
  button {   
    background-color: #e9196d;   
    width: 100%;  
     color: black;   
     padding: 15px;   
     margin: 10px 0px;   
     border: none;   
     cursor: pointer;   
      }   

input[name=email], input[name=password],input[name=name],input[name=confirm_password] {   
     width: 100%;   
     margin: 8px 0;  
     padding: 12px 20px;   
     display: inline-block;   
     border: 2px solid #e9196d;   
     box-sizing: border-box;   
 }  
button:hover {   
     opacity: 0.7;   
 }   

  
.container {   
     padding: 25px;   
     background-color: #ababab;  
 }   